body {
  background-image: url('george\ thekkum.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
}



